﻿.Titolo
{
	color: #2796CE;
	font-style:italic;
	text-decoration: underline;
}



body 
{
 background: #FFFFFF;
}
input
{
color: #000000;
background: #FFFFFF;
border: 1px solid #3D3D3B
}


img
{  border-style: none;
}

