﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_allineaospitiparenti" CodeFile="allineaospitiparenti.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    
       <link href="ospiti.css?ver=11" rel="stylesheet" type="text/css" /> <link rel="shortcut icon" href="images/SENIOR.ico"/>
   <link href="js/jquery.autocomplete.css" rel="stylesheet" type="text/css" />
       

    <script src="js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="js/soapclient.js" type="text/javascript"></script>
    <script src="/js/convertinumero.js" type="text/javascript"></script>
    
    
    
    <script src="js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/js/formatnumer.js" type="text/javascript"></script>      
    <script src="js/JSErrore.js" type="text/javascript"></script>
        <link rel="stylesheet" href="jqueryui/jquery-ui.css"  type="text/css" />
    <script src="jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="jqueryui/datapicker-it.js" type="text/javascript"></script> 
        <script type="text/javascript" >
        function TieniSessioneInVita() {
            $.ajax({
                cache: false,
                dataType: "text",
                timeout: 3000,
                url: "interrogaparametri.ashx",
                success: function(data) {

                },
                error: function(jqXHR, textStatus, errorThrown) {


                }
            });        
        }
        $(document).ready(function() {
            setInterval(TieniSessioneInVita, 60000);
        });    
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
