﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_anagraficaR" CodeFile="anagraficaR.aspx.vb" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="xasp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Dialogo Senior-Epersonam</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
         <style>
    .wait  { 
border:solid 1px #2d2d2d;  text-align:center; vertical-align:top; background:white; width:20%; height:180px; top:30%; left:40%;   position:absolute;  -moz-border-radius: 5px;  -webkit-border-radius: 5px; border-radius: 5px;



box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
-moz-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
-webkit-box-shadow: 0px 0px 10px 4px rgba(0, 125, 196, 0.75);
}

     
    #blur
    {

        width: 100%;

        background-color: black;

        moz-opacity: 0.5;

        khtml-opacity: .5;

        opacity: .5;

        filter: alpha(opacity=50);

        z-index: 120;

        height: 100%;

        position: absolute;

        top: 0;

        left: 0;

    }

    #progress

    {

        z-index: 200;

        background-color: White;

        position: absolute;

        top: 0pt;

        left: 0pt;

        border: solid 1px black;

        padding: 5px 5px 5px 5px;

        text-align: center;

    }
     </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>        
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
         <xasp:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" CssClass="TabSenior"   
            Width="100%" BorderStyle="None" Style="margin-right: 39px">               
     <xasp:TabPanel runat="server" HeaderText="Prima Nota" ID="Tab_Anagrafica"><HeaderTemplate>
                        
         </HeaderTemplate>     
<ContentTemplate>  
       <asp:UpdatePanel ID="UpdatePanel1" runat="server"><ContentTemplate>
                                                                                                             
            <asp:Timer ID="Timer1" runat="server" Interval="1000">
            </asp:Timer>   
            <asp:Label ID="Lbl_Waiting" runat="server" Text="Label"></asp:Label>
        
       </ContentTemplate>
       </asp:UpdatePanel>
            </ContentTemplate>            
        
</xasp:TabPanel>
         </xasp:TabContainer>  
    </div>
    
    </form>
</body>
</html>
