﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="centrale" CodeFile="centrale.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Ospiti Web</title>
   <link rel="stylesheet" href="js/jquery.mobile-1.0b1.min.css" />
	<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.mobile-1.0b1.min.js"></script>
	<script src="js/JSErrore.js" type="text/javascript"></script>
    <style>
     <!--
      .commentato{
      position:relative;
      color: black;
      text-decoration: none;      
      }
      
      .commentato div{
                      position:absolute;
                      visibility:hidden;
                      background-color:#c8ffb4;
                      border: dotted #c8ffb4 1px;
                      color:black;
                      text-decoration: none;
                      padding:3px;
                   top:20;
                      left:40;
      }
      .commentato:hover div{
                      visibility: visible;
                      index-z:100;
      }
     //-->
     </style>
     	
	<script type="text/javascript">
    var appoggio = 0;
	var indice = 25;
	var Timer = 0;
	var Timer1 = 0;

(function($, undefined ) {
$.mobile.currentMenu='';
$.widget( "mobile.dualColumn", $.mobile.widget, {
	_create: function(){
	  if($('html').hasClass('min-width-768px')){ //if there's enough place
	      var M=function(e){ //builds the menu everywhere
			    var $t=$(this),$n=$t.find(":jqmData(role='menu')");
			    
            $t.children('.ui-header,.ui-footer').width('auto');
            var c=$t.children().eq(0);
            
			    if($n.length){
			    $.mobile.currentMenu=$n;
			    $n.menu();
			    }else{
			    	if($.mobile.currentMenu.length) c.before($.mobile.currentMenu=$.mobile.currentMenu.clone()); 
	      	}
	     }
            //builds it the first time. It must be bound to a good event so that it's not needed. Waiting for the next jqm release
            M.apply(this.element);
	          $('div').live('pagebeforeshow',M);	
	      
	  }
	}
});

$.widget( "mobile.menu", $.mobile.widget, {
	options: {
      width:"20%"
	},
	_create: function(){
	  var $h=$('html'),
	  $m=this.element,
	  $p=$m.parents(":jqmData(role='page')"),
    o=this.options;
	  if($m.is(":jqmData(role='menu')")){ //if there's enough place
      if($m.hasClass('ui-menu')) { //if it's a menu I reproduced
      	return;
      	}
      $p.children('.ui-header,.ui-footer').width('auto');
      var c=$p.children().eq(0);
    
      c.before($m);
      $m.css({"width":o.width,"height":"100%","float":"left"}).addClass('ui-menu ui-content').page();	      
          
	  }
	}
});

$(function(){	$("[data-role='page']:first").dualColumn(); });
})( jQuery );


 $(document).ready(function() {   
    if ($("#output").length != 0) {           
      $("#output").height (document.body.scrollHeight -40);      
    }
   });
   
 function scompare()
 { 
   if (indice < 0) {      
     return ;
   }   

   if (indice < 2) {      
     indice = indice -1;   
   } else
   {
    indice = indice -2;   
   }        
   
   stappo = indice + '%';
   $('div.ui-menu.ui-content').css({"width":stappo,"height":"100%","float":"left"}).addClass('ui-menu ui-content').page();	      
   
   stappo = indice + 1.6 + '%';
   $('#myresize').css({position:'absolute',left: stappo});
   
   Timer = setTimeout("scompare()", 10);
 }  


 function appare()
 {
   if (indice > 24) { 
        return ;
   }   
   if (indice > 23) {      
     indice = indice +1;   
   } else
   {
    indice = indice + 2;   
   }     

   
   stappo = indice + '%';
   $('div.ui-menu.ui-content').css({"width":stappo,"height":"100%","float":"left"}).addClass('ui-menu ui-content').page();	      
   
   stappo = indice + 1.6 + '%';
   $('#myresize').css({position:'absolute',left: stappo});
   Timer1 = setTimeout("appare()", 10);
 }  
   
 function sauro()
 {
  if (appoggio == 0) {

      Timer = setTimeout("scompare()", 10);
      appoggio =1;
     } else
     {
      appoggio =0;
      Timer1 = setTimeout("appare()", 10);
     }
     
 } 
</script>

</head>
<body>
<form id="form1" runat="server">
  <div data-role="page" >   
    <div data-role="menu" data-width="25%"> 
       <div data-role="header" data-nobackbtn="true"> 
      <span class="ui-li-count"></span> 
      <h1>Senior Ospite Web</h1> 
    </div> <!-- /header --> 
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>

		   <div data-role="footer"> 
            <span class="ui-li-count"></span> 
            <h1>Senior Ospite Web</h1> 
           </div> 
		</div><!-- /menu --> 
			<div id="myresize" style="position:absolute; left:26.7%; top:20px;" >
		<a href="#" onclick="sauro();"  ><img alt="ridimensiona" src="..\images\resize.png" /></a>
		</div>
    <div data-role="content"> 
        <asp:Label ID="Lbl_nomeospite" runat="server" Text=""></asp:Label>
        <asp:Label ID="lbl_container" runat="server" Text="Label"></asp:Label>
	  </div><!-- /content --> 	 	
  </div>  
    </form>
</body>
</html>
