﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_ExportExcel" CodeFile="ExportExcel.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:GridView ID="GridView1" runat="server" Width="100%">
                <HeaderStyle Font-Size="Small" />
            </asp:GridView>
        </div>
    </form>
</body>
</html>
