﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_ImportRidDaXML" CodeFile="ImportRidDaXML.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        Import file xml SEPA/RID, il file deve essere posizionato in /seniorweb/public  e deve chiamarsi rid.xml <br />
        <br />
        Sei connesso  come <b><%=Session("UTENTE")%></b><br />
        <br />
        
        <asp:Button ID="btn_clicca" runat="server" Text="CLICCA" />
        
        
     </div>
    </form>
</body>
</html>
