﻿<%@ Page Language="VB" AutoEventWireup="false" Inherits="OspitiWeb_TipoAddebito" EnableEventValidation="false" CodeFile="TipoAddebito.aspx.vb" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="xasp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>Tipo Addebito</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    <link href="ospiti.css?ver=11" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="images/SENIOR.ico" />
    <link href="js/jquery.autocomplete.css" rel="stylesheet" type="text/css" />

    <script src="js/jquery-1.5.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="js/soapclient.js" type="text/javascript"></script>
    <script src="/js/convertinumero.js" type="text/javascript"></script>



    <script src="js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/js/formatnumer.js" type="text/javascript"></script>
    <script src="/js/pianoconti.js" type="text/javascript"></script>
    <script src="js/JSErrore.js" type="text/javascript"></script>

    <link rel="stylesheet" href="jqueryui/jquery-ui.css" type="text/css" />
    <script src="jqueryui/jquery-ui.js" type="text/javascript"></script>
    <script src="jqueryui/datapicker-it.js" type="text/javascript"></script>

    <script type="text/javascript">         
        $(document).ready(function () {
            $('html').keyup(function (event) {

                if (event.keyCode == 113) {
                    __doPostBack("Imb_Modifica", "0");
                }


            });
        });

        $(document).ready(function () {
            if (window.innerHeight > 0) { $("#BarraLaterale").css("height", (window.innerHeight - 94) + "px"); } else { $("#BarraLaterale").css("height", (document.documentElement.offsetHeight - 94) + "px"); }
        });
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" EnableScriptGlobalization="true">
            <Scripts>
                <asp:ScriptReference Path="~/Scripts/AjaxControlToolkit/Bundle" />
            </Scripts>
        </asp:ScriptManager>
        <asp:Label ID="Lbl_BarraSenior" runat="server" Text=""></asp:Label>
        <div style="text-align: left;">
            <table style="width: 100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width: 160px; background-color: #F0F0F0;"></td>
                    <td>
                        <div class="Titolo">Ospiti - Tabelle - Tipo Addebito</div>
                        <div class="SottoTitolo">
                            <br />
                            <br />
                        </div>
                    </td>
                    <td style="text-align: right;">
                        <div class="DivTasti">
                            <asp:ImageButton runat="server" ImageUrl="~/images/duplica.png" class="EffettoBottoniTondi" Height="38px" ToolTip="Duplica Causale" ID="ImageButton1"></asp:ImageButton>&nbsp;
        <asp:ImageButton runat="server" ImageUrl="~/images/salva.jpg" class="EffettoBottoniTondi" Height="38px" ToolTip="Modifica / Inserisci" ID="Imb_Modifica"></asp:ImageButton>
                            <asp:ImageButton runat="server" OnClientClick="return window.confirm('Eliminare?');" ImageUrl="~/images/elimina.jpg" class="EffettoBottoniTondi" Height="38px" ToolTip="Elimina" ID="ImageButton2"></asp:ImageButton>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 160px; background-color: #F0F0F0; vertical-align: top; text-align: center;" id="BarraLaterale">
                        <asp:ImageButton ID="Btn_Esci" runat="server" BackColor="Transparent" ImageUrl="../images/Menu_Indietro.png" class="Effetto" ToolTip="Chiudi" />
                        <br />

                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                    </td>
                    <td colspan="2" style="background-color: #FFFFFF;" valign="top">
                        <xasp:TabContainer ID="TabContainer1" runat="server" ActiveTabIndex="0" CssClass="TabSenior"
                            Width="100%" BorderStyle="None" Style="margin-right: 39px">
                            <xasp:TabPanel runat="server" HeaderText="Prima Nota" ID="Tab_Anagrafica">
                                <HeaderTemplate>
                                    Tipo Addebito             
                                </HeaderTemplate>
                                <ContentTemplate>



                                    <label class="LabelCampo">Codice : </label>
                                    <asp:TextBox ID="Txt_Codice" MaxLength="2" Width="50px" AutoPostBack="true" runat="server"></asp:TextBox>
                                    <asp:Image ID="Img_VerificaDes" runat="server" Height="18px" ImageUrl="~/images/Blanco.png" Width="18px" />
                                    <br />
                                    <hr />
                                    <br />
                                    <label class="LabelCampo">Struttura:</label>
                                    <asp:DropDownList runat="server" ID="DD_Struttura" AutoPostBack="true"></asp:DropDownList><br />
                                    <br />

                                    <label class="LabelCampo">Centro Servizio : </label>
                                    <asp:DropDownList ID="Cmb_CServ" runat="server" Width="288px"></asp:DropDownList><br />
                                    <br />
                                    <hr />
                                    <br />
                                    <label class="LabelCampo">Descrizione :</label>
                                    <asp:TextBox ID="Txt_Descrizione" runat="server" Width="472px" AutoPostBack="true"></asp:TextBox>
                                    <asp:Image ID="Img_VerificaDescrizione" runat="server" Height="18px" ImageUrl="~/images/Blanco.png" Width="18px" />
                                    <br />
                                    <br />

                                    <label class="LabelCampo">Codice IVA : </label>
                                    <asp:DropDownList ID="DD_IVA" runat="server"></asp:DropDownList><br />
                                    <br />

                                    <label class="LabelCampo">Conto Contabilità : </label>
                                    <asp:TextBox ID="Txt_Conto" runat="server" Width="484px"></asp:TextBox><br />

                                    <br />


                                    <label class="LabelCampo">Data Scadenza : </label>
                                    <asp:TextBox ID="Txt_DataScadenza" runat="server" Width="100px"></asp:TextBox><br />
                                    <br />

                                    <label class="LabelCampo">Deposito Cauzionale : </label>
                                    <asp:CheckBox ID="Chk_DepositoCauzionale" runat="server" Text="" /><br />
                                    <br />

                                    <br />

                                    <label class="LabelCampo">Importo : </label>
                                    <asp:TextBox ID="Txt_Importo" Style="text-align: right;" runat="server" Width="100px"></asp:TextBox><br />
                                    <br />


                                    <br />
                                    <label class="LabelCampo">Modalità Pagamento:</label>
                                    <asp:DropDownList ID="DD_ModalitaPamento1" runat="server"></asp:DropDownList><asp:Button ID="Btn_Plus1" runat="server" Text="+" />(Filtro import E-Personam, se diverso dai tipi indicati lo mette in rendiconto)        
         <br />
                                    <br />
                                    <label class="LabelCampo">&nbsp;</label>
                                    <asp:DropDownList ID="DD_ModalitaPamento2" runat="server" Visible="false"></asp:DropDownList><asp:Button ID="Btn_Plus2" runat="server" Text="+" Visible="false" />
                                    <br />
                                    <br />
                                    <label class="LabelCampo">&nbsp;</label>
                                    <asp:DropDownList ID="DD_ModalitaPamento3" runat="server" Visible="false"></asp:DropDownList><asp:Button ID="Btn_Plus3" runat="server" Text="+" Visible="false" />
                                    <br />
                                    <br />
                                    <label class="LabelCampo">&nbsp;</label>
                                    <asp:DropDownList ID="DD_ModalitaPamento4" runat="server" Visible="false"></asp:DropDownList><asp:Button ID="Btn_Plus4" runat="server" Text="+" Visible="false" />
                                    <br />


                                    <label class="LabelCampo">Fuori Retta : </label>
                                    <asp:CheckBox ID="Chk_FuoriRetta" runat="server" Text="" /><br />
                                    <br />

                                </ContentTemplate>
                            </xasp:TabPanel>
                        </xasp:TabContainer>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
