<%@ Page Language="VB" AutoEventWireup="false" Inherits="Appalti_Stampa_ReportXSD" CodeFile="Stampa_ReportXSD.aspx.vb" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" Namespace="CrystalDecisions.Web" TagPrefix="CR" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Sampe Senior</title>
    <asp:PlaceHolder runat="server">
        <%: System.Web.Optimization.Styles.Render("~/Content/AjaxControlToolkit/Styles/Bundle") %>
    </asp:PlaceHolder>
    <link rel="shortcut icon" href="../images/SENIOR.ico" />
</head>
<body>
    <form id="form1" runat="server">
        <CR:CrystalReportViewer ID="CrystalReportViewer2" runat="server" AutoDataBind="true" />
        <div style="width: 100%;">
            <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server"
                AutoDataBind="true" ReportSourceID="CrystalReportSource1" Width="100%" />
            <CR:CrystalReportSource ID="CrystalReportSource1" runat="server">
                <Report FileName="Report\StampaProgetto.rpt">
                </Report>
            </CR:CrystalReportSource>
        </div>

    </form>
</body>
</html>
