﻿.Titolo {
    color: #999999;
    font-style: normal;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 10px;
}

.SottoTitolo {
    color: #007DC4;
    font-style: normal;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    margin-left: 60px;
}

.SottoTitoloOSPITE {
    color: #8b8885;
    font-style: normal;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-left: 10px;
    background-image: url('../images/OSPITE.png');
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 60px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.Barra {
    background-color: #007DC4;
    height: 40px;
    display: block;
    width: 100%;
    border: 0px solid black;
    margin: 0 0 0 0;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    z-index: -1;
}



.MyAutoComplete {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #8894A0
}

.MenuText {
    font-family: "Source Sans Pro",sans-serif;
    color: #8894A0;
    font-size: 16px;
}

    .MenuText:hover {
        color: #007DC4;
    }

.BenvenutoText {
    font-family: "Source Sans Pro",sans-serif;
    color: White;
    font-size: 16;
}

.LinkBarra {
    font-family: "Source Sans Pro",sans-serif;
    color: White;
    font-size: 16;
}



body {
    background: #FFFFFF;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
}

textarea {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #8894A0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 3px;
    border-top-right-radius: 3px;
}

.Effetto {
    margin-bottom: 8px;
}

    .Effetto:hover {
        box-shadow: 0px 0px 14px 0px #007DC4;
        border-radius: 10px !important;
    }

.EffettoBottoniTondi:hover {
    box-shadow: 0px 0px 6px 0px #007DC4;
    border-radius: 10px !important;
}



input {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #8894A0;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 3px;
    border-top-right-radius: 3px;
}


    input[type="text"] {
        font-family: "Source Sans Pro",sans-serif;
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
        height: 25px;
    }

    input[type="image"] {
        border: none;
    }


    input:focus {
        -webkit-border-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-radius: 3px;
        border-top-right-radius: 3px;
        border-color: Blue;
    }

select {
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #8894A0;
    height: 30px;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 3px;
    border-top-right-radius: 3px;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
}


    select:focus {
        -webkit-border-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-radius: 3px;
        border-top-right-radius: 3px;
        border-color: Blue;
    }

img {
    border-style: none;
}


.LabelCampo {
    display: block;
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 10px;
}

    .LabelCampo + input, .LabelCampo + select {
        margin-top: -4px;
    }

.MenuDestra {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    color: #777777;
    display: block;
    vertical-align: text-top;
    text-align: left;
    width: 150px;
    margin-left: 35px;
    padding: 3px 0px;
    text-transform: uppercase;
}

    .MenuDestra a {
        color: #000000;
        text-decoration: none;
    }

        .MenuDestra a:hover {
            //color :#007DC4;
            color: white;
        }

    .MenuDestra.active {
        color: white;
        background-color: lightblue;
    }


    .MenuDestra:hover {
        background-color: lightblue;
    }

/*Initialize*/
ul#menu, ul#menu ul.sub-menu {
    padding: 0;
    margin: 0;
    z-index: 99;
}

    ul#menu li, ul#menu ul.sub-menu li {
        list-style-type: none;
        display: block;
    }
        /*Link Appearance*/
        ul#menu li a, ul#menu li ul.sub-menu li a {
            text-decoration: none;
            padding: 5px;
            display: block;
        }
    /*Make the parent of sub-menu relative*/
    ul#menu li {
        position: relative;
    }
        /*sub menu*/
        ul#menu li ul.sub-menu {
            display: none;
            position: absolute;
            top: 25px;
            left: 0;
            width: 100px;
            background: white;
            color: black;
            width: 400px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            border: 1px solid #000000;
            background-color: #FFFFFF;
            -webkit-box-shadow: #A8A8A8 8px 8px 8px;
            -moz-box-shadow: #A8A8A8 8px 8px 8px;
            box-shadow: #A8A8A8 8px 8px 8px;
        }

        ul#menu li:hover ul.sub-menu {
            display: block;
            color: red;
        }


#menu li:hover,
.li_hover {
    background-color: #F90;
}


/*Initialize*/
ul#postitospite, ul#postitospite ul.sub-postitospite {
    padding: 0;
    margin: 0;
    z-index: 99;
}

    ul#postitospite li, ul#postitospite ul.sub-postitospite li {
        list-style-type: none;
        display: block;
    }
        /*Link Appearance*/
        ul#postitospite li a, ul#postitospite li ul.sub-postitospite li a {
            text-decoration: none;
            padding: 5px;
            display: block;
        }
    /*Make the parent of sub-menu relative*/
    ul#postitospite li {
        position: relative;
    }


        /*sub menu*/
        ul#postitospite li ul.sub-postitospite {
            display: none;
            position: absolute;
            top: 25px;
            left: -280px;
            width: 100px;
            background: white;
            color: black;
            width: 400px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            border: 1px solid #000000;
            background-color: #FFFFFF;
            -webkit-box-shadow: #A8A8A8 8px 8px 8px;
            -moz-box-shadow: #A8A8A8 8px 8px 8px;
            box-shadow: #A8A8A8 8px 8px 8px;
        }

        ul#postitospite li:hover ul.sub-postitospite {
            display: block;
            color: red;
        }



/*tab*/
.TabSenior .ajax__tab_xp .ajax__tab_header .ajax__tab_tab {
    background: none;
}

.TabSenior .ajax__tab_body {
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    border-width: 1px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #DDDDDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 8px;
    background-color: #FFF;
    margin-top: 10px;
}

.TabSenior .ajax__tab_header {
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: #DDDDDD;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    height: 42px;
    vertical-align: middle;
    background: none;
}

    .TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_outer {
        -webkit-border-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius: 3px;
        -moz-border-radius-topright: 3px;
        border-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-width: 1px;
        border-bottom-color: White;
        border-top-color: #DDDDDD;
        border-left-color: #DDDDDD;
        border-right-color: #DDDDDD;
        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-style: solid;
        font-family: "Source Sans Pro",sans-serif;
        font-size: 16px;
        height: 41px;
        vertical-align: middle;
        background: none;
        
    }

    .TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab {
        border-bottom-color: White;
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-style: solid;
        font-family: "Source Sans Pro",sans-serif;
        font-size: 16px;
        height: 41px;
        vertical-align: text-bottom;
        background: none;
        color: #EF7B0F;
    }

        .TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_tab:hover {
            color: #08c;
        }

    .TabSenior .ajax__tab_header .ajax__tab_active .ajax__tab_inner {
        border-bottom-color: White;
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-style: solid;
        font-family: "Source Sans Pro",sans-serif;
        font-size: 16px;
        color: #EF7B0F;
        height: 41px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 5px;
        background: none;
    }


.TabSenior {
    margin-left: 10px !important;
    width: 99% !important;
}



    .TabSenior .ajax__tab_inner {
        margin-left: 10px;
        margin-right: 10px;
    }


    .TabSenior .ajax__tab_tab {
    }

div.ajax__calendar_days table tr td {
    padding-right: 0px;
}


.Calendar .ajax__calendar_container {
    border: 1px solid #E0E0E0;
    background-color: #FAFAFA;
    width: 270px;
    top: 30px;
}

.Calendar .ajax__calendar_header {
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #9F9F9F;
    font-weight: normal;
    text-shadow: 0px 0px 2px #D3D3D3;
    height: 20px;
}

.Calendar .ajax__calendar_title,
.Calendar .ajax__calendar_next,
.Calendar .ajax__calendar_prev {
    color: #004080;
}

.Calendar .ajax__calendar_body {
    width: 270px;
    height: 200px;
    position: relative;
}

.Calendar .ajax__calendar_dayname {
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 12px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 2px #D3D3D3;
    text-align: center !important;
    background-color: #007DC4;
    border: solid 1px #D3D3D3;
    text-transform: uppercase;
    margin: 1px;
    width: 30px !important;
}

.Calendar .ajax__calendar_day {
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 2px #D3D3D3;
    text-align: center !important;
    border: solid 1px #E0E0E0;
    text-transform: uppercase;
    margin: 1px;
    width: 30px !important;
    color: #9F9F9F;
    height: 25px;
}

.Calendar .ajax__calendar_hover .ajax__calendar_day,
.Calendar .ajax__calendar_hover .ajax__calendar_month,
.Calendar .ajax__calendar_hover .ajax__calendar_year,
.Calendar .ajax__calendar_active {
    color: red;
    font-weight: bold;
    background-color: #ffffff;
}

.Calendar .ajax__calendar_year {
    border: solid 1px #E0E0E0;
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 2px #D3D3D3;
    text-align: center !important;
    vertical-align: middle;
    margin: 1px;
}

.Calendar .ajax__calendar_month {
    border: solid 1px #E0E0E0;
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 2px #D3D3D3;
    text-align: center !important;
    vertical-align: middle;
    margin: 1px;
}

.Calendar .ajax__calendar_today {
    font-family: Tahoma, Calibri, sans-serif;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 2px #D3D3D3;
    text-align: center !important;
    text-transform: uppercase;
    margin: 1px;
    color: #6B6B6B;
}

.Calendar .ajax__calendar_other {
    background-color: #E0E0E0;
    margin: 1px;
    width: 30px;
}

.Calendar .ajax__calendar_hover .ajax__calendar_today,
.Calendar .ajax__calendar_hover .ajax__calendar_title {
}

.Calendar .ajax__calendar_footer {
    width: 270px;
    border: none;
    height: 20px;
    vertical-align: middle;
    color: #6B6B6B;
}



/* MENU SU LOGO SENIOR*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

.custom-menu-list {
    display: none;
    z-index: 1001;
    position: absolute;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    left: 50px;
    top: 30px;
}

.custom-menu-listSmall {
    display: none;
    z-index: 1001;
    position: absolute;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    left: 50px;
    top: 180px;
}

.custom-menu-listSmall2 {
    display: none;
    z-index: 1001;
    position: absolute;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: "Source Sans Pro",sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
    left: 50px;
    top: 340px;
}



/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu a {
    text-decoration: none;
    color: #007DC4;
}

.custom-menu-list {
    display: none;
}

#IdMenuOspiti:hover + #MenuOspiti {
    display: block;
}


#MenuOspiti:hover {
    display: block;
}

#IdTabelleOspiti:hover + #MenuTabelleOspiti {
    display: block;
}


#IdTabelleOspiti:hover {
    display: block;
}

#MenuOspiti > #IdTabelleOspiti:hover {
    display: block;
}

#MenuOspiti > #MenuTabelleOspiti:hover {
    display: block;
}



#idStatisticheOspiti:hover + #MenuStatisticheOspiti {
    display: block;
}


#idStatisticheOspiti:hover {
    display: block;
}

#MenuOspiti > #idStatisticheOspiti:hover {
    display: block;
}

#MenuOspiti > #MenuStatisticheOspiti:hover {
    display: block;
}



#idStrumenti:hover + #MenuStrumenti {
    display: block;
}

#idStrumenti:hover {
    display: block;
}

#MenuOspiti > #idStrumenti:hover {
    display: block;
}

#MenuOspiti > #MenuStrumenti:hover {
    display: block;
}




#idEXPORT:hover + #MenuEXPORT {
    display: block;
}

#idEXPORT:hover {
    display: block;
}

#MenuOspiti > #MenuEXPORT:hover {
    display: block;
}

#MenuOspiti > #EXPORT:hover {
    display: block;
}


#MenuOspiti > #MenuEPERSONAM:hover {
    display: block;
}

#MenuOspiti > #idEPERSONAM:hover {
    display: block;
}

#idEPERSONAM:hover + #MenuEPERSONAM {
    display: block;
}

#idEPERSONAM:hover {
    display: block;
}


#IdMenuGenerale:hover + #MenuGenerale {
    display: block;
}


#MenuGenerale:hover {
    display: block;
}




#idBudget:hover + #MenuBudget {
    display: block;
}

#idBudget:hover {
    display: block;
}

#MenuGenerale > #idBudget:hover {
    display: block;
}

#MenuGenerale > #MenuBudget:hover {
    display: block;
}






#idStampeGenerale:hover + #MenuStampeGenerale {
    display: block;
}

#idStampeGenerale:hover {
    display: block;
}

#MenuGenerale > #idStampeGenerale:hover {
    display: block;
}

#MenuGenerale > #MenuStampeGenerale:hover {
    display: block;
}


#idVisualizzazione:hover + #MenuVisualizzazione {
    display: block;
}

#idVisualizzazione:hover {
    display: block;
}

#MenuGenerale > #idVisualizzazione:hover {
    display: block;
}

#MenuGenerale > #MenuVisualizzazione:hover {
    display: block;
}



#idTabelleGenerale:hover + #MenuTabelleGenerale {
    display: block;
}

#idTabelleGenerale:hover {
    display: block;
}

#MenuGenerale > #idTabelleGenerale:hover {
    display: block;
}

#MenuGenerale > #MenuTabelleGenerale:hover {
    display: block;
}





#idStrumentiGenerale:hover + #MenuStrumentiGenerale {
    display: block;
}

#idStrumentiGenerale:hover {
    display: block;
}

#MenuGenerale > #idStrumentiGenerale:hover {
    display: block;
}

#MenuGenerale > #MenuStrumentiGenerale:hover {
    display: block;
}





#idMenuProtocollo:hover + #MenuProtocollo {
    display: block;
}


#MenuProtocollo:hover {
    display: block;
}






#idMenuMailingList:hover + #MenuMailingList {
    display: block;
}


#MenuMailingList:hover {
    display: block;
}




.custom-menu li:hover {
    background-color: #DEF;
}




.custom-menu li:hover {
    background-color: #DEF;
}


.ClsGdpr {
    text-color: red;
    text-decoration: none;
    font-weight: bold;
}

a.ClsGdpr:visited {
    color: red;
}

a.ClsGdpr {
    color: red;
}


.ClsGdprBarra {
    width: 35%;
    height: 30px;
    left: 50%;
    top: 60px;
    background-color: rgba(243, 223, 223, 0.50);
    position: absolute;
    text-align: center;
}


.SeniorButton {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid gray;
}

.SeniorButton {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

    .SeniorButton:hover {
        background-color: gray;
        color: gray;
    }

.DivTastiOspite {
    position: absolute;
    right: 30px;
    top: 160px;
}

.DivTasti {
    position: absolute;
    right: 30px;
    top: 100px;
}





.iconanote {
    background-color: transparent;
}


    .iconanote a:hover {
        background-color: transparent;
    }
