﻿body
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333333;
text-align:center;
background-color:#5b96c2;
}
#container
{
clear:both;
width:962px;
text-align:left;
margin:0 auto;
}
#head_menu
{
clear:both;
width:962px;
height:72px;
}

#menu_wrap
{
float:right;
width:962px;
height:72px;
background:url(images/head_bgg.gif) repeat-x;
}
ul#menu_ul
{
list-style-type:none;
float:right;
text-align:left;
width:297px;
height:32px;
margin-top:40px;
margin-right:0px;
background:url(images/menu_top_bg.gif) no-repeat;
}
li.menu_li
{
color:#104369;
font-size:11px;
font-weight:bold;
margin-left:33px;
position:relative;
top:8px;
display:inline;
}
li.menu_li a:link, li.menu_li a:visited
{
color:#104369;
text-decoration:none;
}
li.menu_li a:hover, li.menu_li a:focus, li.menu_li a:active
{
color:#ffa54f;
text-decoration:none;
}
#content
{
clear:both;
width:962px;
background:url(images/content_bg.gif) repeat-y;
overflow:hidden;
}
#content_left
{
float:left;

text-align:center;
background-color:#0000ff;
width:288px;
height:100px;
}


#content_right
{
text-align:left;
float:right;
width:688px;
background-color:#ffffff;
}


